{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-secondary">Oops, page not found!</h1>
            <hr>
        </div>
        <div class="col-12 text-center">
            {% if current_user.is_authenticated %}
                <h2><a href="{{ url_for('user_page', user_id=current_user.id) }}">Back</a></h2>
            {% else %}
                <h2><a href="{{ url_for('index') }}">Back</a></h2>
            {% endif %}
         </div>
    </div>
{% endblock %}