{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-3">
            <img class="rounded account-img mr-5 mb-3" width="250" height="250" src="{{ profile_img }}">
            <hr>
            <div class="col">
              <div class="content-section">
                <h3 class="text-center">Some Sidebar</h3>
                <p class='text-muted text-center'>You can explore more information here.
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light"><a href="{{url_for('users')}}" class="text-secondary">People</a></li>
                      <li class="list-group-item list-group-item-light"><a href="{{url_for('posts')}}" class="text-secondary">Posts</a></li>
                      <li class="list-group-item list-group-item-light"><a href="{{url_for('new_post')}}" class="text-secondary">Add Post</a></li>
                      <li class="list-group-item list-group-item-light">etc</li>
                  </ul>
                </p>
              </div>
            </div>
        </div>
            <form action="" method="POST" class="col-md-6" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Profile</legend>
                    <div class="form-group">
                        {{ form.username.label(class='form-control-label') }}
                        {% if form.username.errors %}
                            {{ form.username(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class='form-control')}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.status.label(class='form-control-label') }}
                        {% if form.status.errors %}
                            {{ form.status(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.status.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.status(class='form-control')}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class='form-control-label') }}
                        {% if form.email.errors %}
                            {{ form.email(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class='form-control')}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.phone.label(class='form-control-label') }}
                        {% if form.phone.errors %}
                            {{ form.phone(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.phone.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class='form-control')}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.date_of_birth.label(class='form-control-label') }}
                        {% if form.date_of_birth.errors %}
                            {{ form.date_of_birth(class='form-control is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.date_of_birth.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.date_of_birth(class='form-control')}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.profile_img.label(class='form-control-label') }}
                        {% if form.profile_img.errors %}
                            {{ form.profile_img(class='form-control-file is-invalid') }}
                            <div class="invalid-feedback">
                                {% for error in form.profile_img.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.profile_img(class='form-control-file')}}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info') }}
                </div>
            </form>
    </div>


{% endblock %}