{% extends 'base.html' %}

{% block content %}
    <br>
        <div class="row">
            <div class="col-3">
                <img class="rounded account-img mr-5" width="250" height="250" src="{{ profile_img }}">
                {% if current_user == user %}
                    <a class="mt-3 btn btn-outline-info btn-block" href="{{ url_for('edit_profile', user_id=user.id) }}">Edit profile</a>
                {% endif %}
            </div>

            <div class="col-9">
                  {% if user.online %}
                    <p class="float-right text-right text-secondary mr-4">online</p>
                  {% endif %}
                  <h2 class="account-heading mr-0">{{ user.username }}</h2>
                  {% if user.status %}
                    <p class="mb-2">{{ user.status }}</p>
                  {% else %}
                    <a href="{{ url_for('edit_profile', user_id=user.id) }}" class="text-secondary">You can add some status here</a>
                  {% endif %}
                  <hr class="mt-0">
                  <p class="text-secondary mb-0">email - {{ user.email }}</p>
                  <p class="text-secondary mb-0">phone - {{ user.phone }}</p>
                  {% if user.date_of_birth %}
                    <p class="text-secondary mb-0">date of birth - {{ user.date_of_birth.strftime('%d.%m.%Y') }}</p>
                  {% else %}
                    <p class="text-secondary mb-0">date of birth - {{ user.date_of_birth }}</p>
                  {% endif %}

                  <hr>
                  {% if current_user != user %}
                    <h5><a href="{{ url_for('send_message', recipient_id=user.id) }}" style="color: #333">Send Message</a></h5>
                    {% if not current_user.is_friend(user) %}
                    <h5><a href="{{ url_for('add_to_friends_req', user_id=user.id) }}" style="color: #333">Add To Friends</a></h5>
                    {% endif %}
                  {% else %}
                      <h5><a href="{{ url_for('messages', recipient_id=current_user.id) }}" style="color: #333">Messages
                        {% if current_user.new_messages() %} ({{ current_user.new_messages()}}) {% endif %}
                      </a></h5>
                      <h5><a href="{{ url_for('friends', user_id=current_user.id) }}" style="color: #333">Friends
                        {% if current_user.new_requests() %} ({{ current_user.new_requests() }}) {% endif %}
                      </a></h5>
                      <h5>
                          <a href="{{ url_for('followers', user_id=current_user.id) }}" style="color: #333">Followers {% if current_user.followers.count() %}({{ current_user.followers.count() }}){% endif %}</a> /
                          <a href="{{ url_for('followeds', user_id=current_user.id) }}" style="color: #333">Followeds {% if current_user.followeds.count() %}({{ current_user.followeds.count() }}){% endif %}</a>
                      </h5>
                  {% endif %}
            </div>

        </div>
    <hr>
        <div class="row">
            <div class="col-md-3">
              <div class="content-section">
                <h3 class="text-center">Some Sidebar</h3>
                <p class='text-muted text-center'>You can explore more information here.
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light"><a href="{{url_for('users')}}" class="text-secondary">People</a></li>
                      <li class="list-group-item list-group-item-light"><a href="{{url_for('posts')}}" class="text-secondary">Posts</a></li>
                      <li class="list-group-item list-group-item-light"><a href="{{url_for('new_post')}}" class="text-secondary">Add Post</a></li>
                      <li class="list-group-item list-group-item-light">etc</li>
                  </ul>
                </p>
              </div>
            </div>
            <div class="col-md-9">
                <div class="content-sections">
                    <h3 class="col-4">Posts<hr></h3>
                    {% for post in posts %}
                        <article class="media content-section ml-3">
                              <div class="media-body">
                                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                                <p class="article-content" style="white-space: pre-wrap">{{ post.content }}</p>
                                {% if post.image %}
                                    <img class="img-fluid" width="100%" height="auto" src="/static/post_pics/{{ post.image }}">
                                {% endif %}
                                <small class="text-muted">comments ({{ post.comments.count() }})</small>
                                <div class="article-metadata float-right">
                                    <small class="text-muted">Written by</small>
                                    <a class="mr-2" href="{{ url_for('user_page', user_id=post.author.id) }}">{{ post.author.username }}</a>
                                    <small class="text-muted">on</small>
                                    <small class="text-muted">{{ post.date_posted.strftime('%d.%m.%Y %H:%M:%S') }}</small>
                                </div>
                              </div>
                        </article>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}