{% extends 'base.html' %}

{% block content %}
<br>
<div class="row">
    <h3 class="text-secondary col-8 mb-0 ml-3"><a style="color: #aaa" href="{{ url_for('users') }}">People</a></h3>
    <form method="POST" class="form-group col mb-0">
        {{ form.hidden_tag() }}
        <div class="row">
        <div class="form-group col-8 mb-0 mr-0">
            {% if form.target.errors %}
                {{ form.target(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.target.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.target(class='form-control')}}
            {% endif %}
        </div>
        <div class="form-group col-4 mb-0 mr-0">
            {{ form.submit(class='btn btn-outline-info') }}
        </div>
        </div>
    </form>
</div>
<hr>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    {% for user in users %}
        <article class="media content-section ml-3">
              <img class="rounded- account-img mr-5" height="125" width="125" src="/static/profile_pics/{{ user.profile_img }}">
              <div class="media-body">
                {% if user.online %}
                    <p class="float-right text-secondary mr-4">online</p>
                {% endif %}
                <h2><a class="account-heading" href="{{ url_for('user_page', user_id=user.id) }}">{{ user.username }}</a></h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">On site since {{ user.date_of_reg.strftime('%m.%Y') }}</p>
                <small class="text-muted">posts ({{ user.posts.count() }})</small>
              </div>
        </article>
        <hr>
    {% endfor %}
    </div>
</div>

{% endblock %}